<!DOCTYPE html>
<html>

<head>
    <title>盈帆科技</title>
    <include file="Template/tpl-header" />
</head>
<body>

</body>
<include file="Template/tpl-footer" />
<script>
    $.ajax({
        url: MOD_PATH + '/User/accountExpire',
        data: {
            "accountId": 2
        },
        success: function success(res) {
            if(res.code == "0"){
                location.href = "__APP__/Home/User/userCenter";
            }else if(res.code == "1"){
                location.href = "__APP__/Home/User/sign";
            }
            sessionStorage.setItem('shopId', 2);
        },
        error: function error() {
            server_error();
        }
    });
</script>
</html>
