<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>萝卜兼职</title>
	<include file="Common/header" />
    <link rel="stylesheet" href="/Public/vote/css/vote.min.css?t=1481691463999">
</head>
<body>
	<div class="page-group">
        <div class="page" id="infi_detail">
            <!-- 这里是页面内容区 -->
            <div class="content">
                <div class="wrap">
                    <!--to be filled-->
                </div>
                <div class="btmn">
                    <p><span class="iconv iconv-share"></span>&nbsp;&nbsp;拉票</p>
                    <p><span class="iconv iconv-heart"></span>&nbsp;&nbsp;投票</p>
                </div>
            </div>
        </div>
    </div>
    <include file="Common/tpl/tpl-infiVote" />
    <include file="Common/footer" />
</body>
</html>
<script src="/Public/vote/js/infiVote.js?t=1481691463999"></script>