<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>萝卜兼职</title>
    <include file="Common/header" />
    <link rel="stylesheet" href="/Public/vote/css/vote.min.css?t=1481691463999">
</head>
<body>
    <div class="page-group">
        <div class="page" id="infi_rule">
            <!-- 这里是页面内容区 -->
            <div class="content">
                <img class="banner" src="/Public/vote/images/vote_banner02.jpg" alt="">
                <section class="rules">
                    <h3 class="rule_title">活动规则</h3>
                    <div id="rule" style="font-size: 14px; line-height: 20px;"></div>
                    <p style="font-size: 14px; line-height: 20px;">本活动最终解释权归山东盈帆信息科技股份有限公司所有</p>
                </section>
                <section class="prize">
                    <h3 class="rule_title">奖品设置</h3>
                    <div id="reward" style="font-size: 14px; line-height: 20px;"></div>
                    <p style="font-size: 14px; line-height: 20px;">本活动最终解释权归山东盈帆信息科技股份有限公司所有</p>
                </section>
            </div>
        </div>
    </div>
    <include file="Common/tpl/tpl-infiVote" />
    <include file="Common/footer" />
</body>
</html>
<script src="/Public/vote/js/infiVote.js?t=1481691463999"></script>