<!DOCTYPE html>
<html>

<head>
    <title>盈帆科技</title>
    <include file="Template/tpl-header" />
</head>

<body>
    <div class="page-group">
        <div class="page page-current coupons" id="coupons">
            <header class="bar bar-nav z_headBg">
                <a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userCenter">
                    <span class="icon icon-left"></span> 返回
                </a>
                <h1 class='title'>优惠券</h1>
            </header>
            <div class="content" id="couponsDiv">
                <ul class="couponsList">

                </ul>
            </div>
        </div>
    </div>
    <include file="Template/tpl-footer" />
</body>
</html>
