<!DOCTYPE html>
<html>

<head>
    <title>盈帆科技</title>
    <include file="Template/tpl-header" />
</head>

<body>
    <div class="page-group">
        <div class="page page-current expendList" id="expendList">
            <header class="bar bar-nav z_headBg">
                <a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userCenter">
                    <span class="icon icon-left"></span> 返回
                </a>
                <h1 class='title'>消费记录</h1>
            </header>
            <div class="content infinite-scroll infinite-scroll-bottom" data-distance="200">
                <div class="list-block media-list" id="expendListDiv">

                </div>
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
            </div>
        </div>
    </div>
    <include file="Template/tpl-footer" />
</body>

</html>
