<!DOCTYPE html>
<html>
<head>
	<title>盈帆科技</title>
	<include file="Template/tpl-header"/>
</head>
<body>
<div class="page-group">
	<div class="page page-current rules" id="rules">
		<header class="bar bar-nav z_headBg">
			<a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userCenter">
				<span class="icon icon-left"></span> 返回
			</a>
			<h1 class='title'>规则说明</h1>
		</header>
		<div class="content" id="rulesDiv">
			<div class="z_ruleIntro">
				<img class="z_ruleIcon" src="" alt="">
				<span class=""> 规则说明</span>
			</div>
			<div class="z_ruleCard z_hide" id="levelRule">

			</div>
			<div class="z_ruleCard z_hide" id="rechargeRule">

			</div>
			<div class="z_ruleCard z_hide" id="pointRule">

			</div>
			<p class="z_tip">如有咨询，请拨打 <a href="tel:0631-7666666">0631-7666666</a></p>
		</div>
	</div>
</div>
<include file="Template/tpl-footer"/>
</body>
</html>
