<!DOCTYPE html>
<html>

<head>
    <title>盈帆科技</title>
    <include file="Template/tpl-header" />
</head>

<body>
    <div class="page-group">
        <div class="page page-current" id="userInfo">
            <header class="bar bar-nav z_headBg">
                <a class="button button-link button-nav pull-left" href="__APP__/Home/User/userCenter">
                    <span class="icon icon-left"></span> 返回
                </a>
                <h1 class='title'>个人信息</h1>
            </header>
            <div class="content bg_color userInfoDiv" id="userInfoDiv">

            </div>
        </div>
    </div>
    <include file="Template/tpl-footer" />
</body>
</html>
